@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container a {
    color: #fff;
}

.line-limit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}