header(class="bg-indigo-500 py-6")
    div(class="max-w-screen-xl mx-auto flex justify-between items-center")
        h1.font-bold.text-white.text-4xl Bienes
            span.font-normal Raices
        
        nav(class="hidden md:block") 
            a.text-white.mr-4(href="/mis-propiedades")  Mis propiedades 
            a.text-white.mr-4(href="")  Perfil 
            a(class="bg-indigo-700 px-10 py-2 text-white font-bold uppercase" href="")  cerrar sesion 